{% extends 'blog/base.html' %}
{% block content %}
	            {% for post in posts %}
	                <div class="post">
	                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
			    <p>{{ post.text|truncatechars:200 }}</p>
                            <div class="date">
                                Published: {{ post.published_date }} ::
			        <a href="{% url 'post_detail' pk=post.pk %}">Comments All: {{ post.comments.count }}</a> ::
			        <a href="{% url 'post_detail' pk=post.pk %}">Comments Published: {{ post.approved_comments.count }}</a>
                            </div>
	                </div>
	            {% endfor %}
{% endblock %}
